body{
    background-color: aquamarine;
    width: 100%;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.saisi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.show{
    border: 5px solid black;
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;   
    margin-top: 50px;
    margin-left: 170px;
}
.tow-tables{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.table{
    border: 5px solid rgb(166, 154, 154);
    margin: 20px;
    padding: 25px;
    width: 400px;
    height: 250px;
}
.liiist{
    display: flex;
    justify-content: center;
    align-items: center;
}
